<app-loader [isLoading]="isLoading"></app-loader>
<app-header></app-header>

<div class="container-fluid">
  <div class="row" *ngIf="video">
    <div class="col-md-8 col-12 mt-3">
      <div class="embed-responsive embed-responsive-21by9">
        <video class="embed-responsive-item main-video" controls>
          <source [src]="video?.url" type="video/mp4" />
          Sorry, your browser doesn't support embedded videos.
        </video>
      </div>

      <div class="row mt-3">
        <div class="col-md-6 col-12 float-left">
          <h4 class="font-weight-bold">{{ video?.title }}</h4>
          <p>{{ video?.date | date: 'MMM dd, yyyy' }}</p>
        </div>
        <div class="col-md-6 col-12">
          <div class="d-flex justify-content-start justify-content-md-end">
            <button
              data-toggle="tooltip"
              class="border-0 mr-2"
              data-placement="bottom"
              title=" {{ video?.comments?.length }} comments"
            >
              {{ video?.comments?.length }} <i class="fas fa-comments"></i>
            </button>
            <button
              data-toggle="tooltip"
              class="border-0 mr-2"
              data-placement="bottom"
              title=" {{ video?.upvotes }} upvotes"
              (click)="upvote()"
            >
              {{ video?.upvotes }} <i class="fas fa-thumbs-up"></i>
            </button>
            <button
              data-toggle="tooltip"
              class="border-0"
              data-placement="bottom"
              title=" {{ video?.downvotes }} downvotes"
              (click)="downvote()"
            >
              {{ video?.downvotes }} <i class="fas fa-thumbs-down"></i>
            </button>
          </div>
        </div>
      </div>
      <hr />

      <h5>About this video</h5>
      <p class="m-0 p-0">{{ video?.description }}</p>

      <hr />
      <div *ngIf="loggedIn; else notLoggedIn">
        <form
          [formGroup]="commentForm"
          (ngSubmit)="submitComment()"
          *ngIf="video?.comments?.length > 0 || addComment"
        >
          <div class="form-group">
            <label for="comment">Add a comment</label> <br />
            <textarea
              id="comment"
              formControlName="text"
              class="form-control"
            ></textarea>
          </div>
          <button
            class="btn btn-primary btn-block mt-2"
            [disabled]="commentForm.invalid"
          >
            <span>
              <i [hidden]="!isLoading" class="fas fa-spinner fa-spin"></i>
            </span>
            Post Comment
          </button>
        </form>
      </div>

      <ng-template #notLoggedIn>
        <button class="btn-primary btn-sm" routerLink="/login">Log in</button>
        to post a comment.
      </ng-template>

      <hr />

      <div *ngIf="video?.comments?.length > 0; else no_comment">
        <h5 *ngIf="video?.comments?.length > 1; else single">
          {{ video?.comments?.length }} Comments
        </h5>
        <ng-template #single>
          <h5>{{ video?.comments?.length }} Comment</h5>
        </ng-template>

        <div *ngFor="let c of video?.comments" class="mb-2">
          <p class="font-weight-bold m-0 p-0">{{ c?.postedBy?.username }}</p>
          <p class="m-0 p-0">{{ c?.text }}</p>
        </div>
      </div>
      <ng-template #no_comment>
        <div class="card text-center">
          <div class="card-body">
            <p>There are no comments for this video</p>
            <button
              class="btn btn-md btn-primary"
              *ngIf="loggedIn"
              (click)="openCommentForm()"
            >
              Post a comment
            </button>
          </div>
        </div>
      </ng-template>

      <div class="line">
        <hr />
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="row" *ngIf="allVideos">
        <div class="col-12" *ngFor="let v of allVideos">
          <div class="card my-2">
            <div class="card-img embed-responsive embed-responsive-4by3">
              <video
                class="embed-responsive-item"
                height="153.34"
                width="273.31"
                (click)="goToVideo(v._id)"
              >
                <source [src]="v.url" type="video/mp4" />
                Sorry, your browser doesn't support embedded videos.
              </video>
            </div>
            <div class="card-text">
              <p class="font-weight-bold p-0 text-center text-capitalize">
                {{ v?.title }}
              </p>
              <div class="d-flex justify-content-around">
                <button
                  data-toggle="tooltip"
                  class="border-0"
                  data-placement="bottom"
                  title=" {{ v?.comments?.length }} comments"
                >
                  {{ v?.comments?.length }} <i class="fas fa-comments"></i>
                </button>
                <button
                  data-toggle="tooltip"
                  class="border-0"
                  data-placement="bottom"
                  title=" {{ v?.upvotes }} upvotes"
                >
                  {{ v?.upvotes }} <i class="fas fa-thumbs-up"></i>
                </button>
                <button
                  data-toggle="tooltip"
                  class="border-0"
                  data-placement="bottom"
                  title=" {{ v?.downvotes }} downvotes"
                >
                  {{ v?.downvotes }} <i class="fas fa-thumbs-down"></i>
                </button>
              </div>
              <div class="text-center mt-2">
                <span>{{ v?.date | date: 'MMM dd, yyyy, hh:ss aa' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
