@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
  background: rgb(84, 11, 91);
  cursor: pointer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

a:not(.fas) {
  text-decoration: none;
  font-family: "B612", sans-serif;
}
